html, body {
  width: 100vw;
  height: 100vw;
}

body {
  font-family: 'Graphik', sans-serif;
  color: $color_white;
  background-color: #86a5ae;
  overflow: hidden;
}

#three-container {
  overflow: hidden;
}

.dev-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;

  &-infos {
    float: left;
    padding: 5px;
    color: $color_white;
    background-color: rgba(0, 0, 0, 0.5);

    div {
      margin: 5px 0;
    }
  }
}


.btn {
  opacity: 0.4;
  transition: opacity 0.15s ease-out;

  &.active {
    opacity: 0.6;
    cursor: pointer;
    &:hover {
      opacity: 1;
    }
  }
}

.ui {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  pointer-events: none;

  &_header {
    display: flex;
    flex: 0.3;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: $ui-padding $ui-padding 0 $ui-padding;

    .link-asterios {
      flex: 0.35;
      user-select: none;

      .logo-asterios {
        width: 70px;
        height: 70px;
        opacity: 0;
      }
    }

    .intro-skipper {
      display: flex;
      flex: 0.3;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      opacity: 0;
      pointer-events: auto;

      &__prev-btn {
        width: 2vh;
        height: 2vh;
      }

      &__skip-btn {
        margin: 0 3vh;
        padding-bottom: 0.6vh;
        font-size: $details-font-size;
        letter-spacing: $details-letter-spacing;
        border-bottom: solid 0.2vh $color_white;
      }

      &__next-btn {
        width: 2vh;
        height: 2vh;

        img {
          transform: rotate(180deg);
        }
      }
    }

    .nav {
      display: flex;
      flex: 0.35;
      flex-direction: column;
      align-items: flex-end;
      opacity: 0;
      transition: opacity 0.75s ease-in-out;

      &.visible {
        opacity: 1;
      }

      .current-genre{
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 35px;
        user-select: none;

        .anim-letter {
          opacity: 0;
        }
      }

      #about{
          cursor: pointer;
          pointer-events: auto;
      }

      .link{
        padding-bottom: 19.5px;
        padding-top : 19.5px;
        padding-left: 20px;
        letter-spacing: $details-letter-spacing;
        font-size: $details-font-size;
        font-weight: 500;
        text-transform: uppercase;
        opacity : .5;
        transition: opacity 0.25s ease-in-out;
        pointer-events: auto;
        cursor: pointer;
        user-select: none;

        &:hover {
          opacity: 1;
        }

        &__label {
          margin-right: 18px;
          opacity: 0;

          .anim-letter {
            opacity: 0;
          }
        }

        .name_genre_active{
          margin-right: 18px;
          opacity : 1;
        }

        &__line {
          display: inline-block;
          height : 1px;
          width : 22px;
          background-color: white;
          transform : translateY(-2.5px);
          pointer-events: none;
        }
      }

      .link_active{
        font-family: 'Graphik', sans-serif;
        font-size: $details-font-size;
        font-weight: 500;
        opacity : 1;
      }
    }
  }

  &_content {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;

    .logo-reveal {
      height: 20vh;
      opacity: 0;
      pointer-events: none;
    }

    .intro-content {
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      &__text {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: $content-font-size;
        line-height: $content-line-height;

        span {
          opacity: 0;
        }
      }

      &__icon {
        margin-top: 3vh;
        height: 4vh;
        opacity: 0;
      }
    }

    .genre-name {
      position: absolute;
      font-size: $genre-font-size;
      font-weight: 600;

      .anim-letter {
        display: inline-block;
        opacity: 0;
      }
    }

    .artist-infos {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 950px;
      height: 470px;
      background: url('/assets/images/bg-ticket.svg') no-repeat;
      opacity: 0;
      transition: opacity 0.75s ease-in-out;
      pointer-events: none;

      &.visible {
        opacity: 1;
        pointer-events: auto;
      }

      .content-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        width: 790px;

        .album-cover {
          margin-right: 75px;
          width: 280px;
          height: 280px;
        }

        .content {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &__intro {
            font-size: $infos-font-size;
            font-weight: 500;
            letter-spacing: $infos-letter-spacing;
            text-transform: uppercase;
          }

          &__artist {
            margin: 12px 0;
            font-size: 50px;
            font-weight: 600;
            text-transform: uppercase;
          }

          &__artist-link {
            padding-bottom: 5px;
            font-size: $infos-font-size;
            font-weight: 500;
            letter-spacing: $infos-letter-spacing;
            color: #FFFFFF;
            text-decoration: none;
            border-bottom: solid 0.2vh $color_white;
          }

          &__ticketing-intro {
            margin-top: 50px;
            text-align: center;
            font-size: $infos-font-size;
            font-weight: 500;
            letter-spacing: 2px;
            line-height: $infos-line-height;
            color: #000000;
          }

          &__ticketing-link {
            margin-top: 25px;
            padding: 15px 60px;
            font-size: 15px;
            font-weight: 600;
            color: #000000;
            text-decoration: none;
            background-color: #FFFFFF;
            transition: all .8s cubic-bezier(.15,.9,.34,.95);
            text-align: center;
            position: relative;
            
            &:before{
              content: '';
              background-color: black;
              color: #000;
              display: block;
              height: 100%;
              width: 0;
              position: absolute;
              left: 0;
              top: 0;
              z-index: 0;
              transition: all .3s cubic-bezier(.15,.9,.34,.95);
            }

            span{
              position: absolute;
              left: 0;
              top: calc(50% - 7px);
              height: 100%;
              width: 100%;
              display: none;
              margin: 0 auto;
              color: white;
            }

            &:hover{
              &:before {
                width : 100%;
              }
              span{
                display : block
              }
            }
          }
        }
      }

      .close-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 139px;

        .btn--close {
          width: 18px;
        }
      }
    }

    .about{
      position: absolute;
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 600px;
      height: 100vh;
      opacity: 0;
      pointer-events: none;

      .logo-reveal-about{
        width : 316px;
        margin-top: 100px;
      }
      
      .logo-gobelins-about{
        width : 100px;
      }
      
      .text_content{
        text-align: center;
        margin-top: 60px;
        margin-bottom: 60px;


        p:nth-child(1){
          margin-bottom: 50px;
        }

        p{
          font-family: 'Graphik', sans-serif;
          font-weight: 400;
          font-size: $about_content-font-size;
          line-height: $about_content-line-height;
          
          .student_names{
            display: block;
          }
        }
      }

      .social{
        width: 600px;
        /* height: 55px; */
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        /* margin-top: 30px; */
        position: absolute;
        bottom: 5vh;
        .share{
          //width : 300px;
          .links{
            display: flex;
            align-items: center;
            justify-content: space-around;
            a{
              display: flex;
              align-items: center;
              justify-content: center;
              width : 23px;
              height : 23px;
              border: 2px solid white;
              border-radius: 2000px;
              img{
                height: 12px;
                width: 12px;
              }
            }
          }
          .content{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 17px;
            font-family: 'Graphik', sans-serif;
            font-size : 10px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: $details-letter-spacing;
            border-bottom: 1px solid white;
            padding-bottom: 5px;
          }
        }
        .follow{
          .links{
            display: flex;
            align-items: center;
            justify-content: space-between;
            a{
              display: flex;
              align-items: center;
              justify-content: center;
              width : 23px;
              height : 23px;
              border: 2px solid white;
              border-radius: 2000px;
              img{
                height: 12px;
                width: 12px;
              }
            }
          }
          .content{
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 17px;
            font-family: 'Graphik', sans-serif;
            font-size : 12px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: $details-letter-spacing;
            border-bottom: 1px solid white;
            padding-bottom: 5px;
          } 
        }
      }
    }
  }

  &__footer {
    display: flex;
    flex: 0.3;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 $ui-padding $ui-padding $ui-padding;

    &__wrapper {
      display: flex;
      flex: 1;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }

    &__left {
      display: flex;
      flex: 0.3;
      flex-direction: row;
      align-items: flex-end;

      .btn--mute {
        margin-right: 20px;
        height: 20px;
        width: 20px;
        pointer-events: auto;
      }

      .anim-letter {
        opacity: 0;
      }

      .song-info {
        display: inline-block;
        max-width: 10vw;
        font-size: $details-font-size;
        letter-spacing: $details-letter-spacing;
        text-transform: uppercase;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;

        &--separator {
          margin: 0 0.5vh;
        }
      }
    }

    &__center {
      display: flex;
      flex: 0.4;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      opacity: 0;
      transition: opacity 0.75s ease-in-out;
      pointer-events: none;

      &.visible {
        opacity: 1;
        pointer-events: auto;
      }

      .btn--ticket {
        margin-right: 2vw;
        height: 25px;
      }

      .timeline {
        width: 250px;
        height: 50px;
      }
    }

    &__right {
      display: flex;
      flex: 0.3;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      opacity: 0;
      transition: opacity 0.75s ease-in-out;
      pointer-events: none;

      &.visible {
        opacity: 1;
        pointer-events: auto;
      }

      .text {
        display: inline-block;
        padding: 5px;
        text-align: right;
        font-size: $help-font-size;
        letter-spacing: $help-letter-spacing;
        line-height: $help-line-height;
        opacity: 0;
        text-shadow: 0 0 10px rgba(12, 0, 30, 0.3);
        transition: opacity 0.25s ease-in-out;

        &.visible {
          opacity: 1
        }
      }

      .icon--help {
        margin-left: 2vh;
        width: 25px;
        height: 25px;

        &.active {
          cursor: help;
        }
      }
    }
  }
}