// BREAKPOINTS
$breakpoints: (
  'xs-phone': 320px,
  'phone': 414px,
  'tablet': 768px,
  'tablet-md': 992px,
  'desktop': 1024px,
  'widescreen': 1200px,
  'widescreen-x': 1440px,
  'widescreen-xl': 1920px
);

// COLORS
$color_white: #FFFFFF;
$color_black: #000000;

// DIMENS
$ui-padding: 5vh;

// FONTS
$content-font-size: 19px;
$content-line-height: 36px;

$genre-font-size: 150px;

$help-font-size: 12px;
$help-letter-spacing: 2px;
$help-line-height: 18px;

$infos-font-size: 10px;
$infos-letter-spacing: 2px;
$infos-line-height: 18px;

$details-font-size: 10px;
$details-letter-spacing: 4px;

// ABOUT
$about_content-font-size: 15px;
$about_content-line-height: 22px;