@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/graphik-regular.otf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/graphik-medium.otf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Graphik';
  src: url('/assets/fonts/graphik-bold.otf');
  font-weight: 600;
  font-style: normal;
}